.LandingPage {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.TitleBar {
    display: flex;
    justify-content: space-evenly;
}

#title {
    border: 1px solid red;
    display: flex;
    align-items: center;
} 

#headshot {
    width: 25%;
    border: 1px solid red;
    border-radius: 50%;
}